{{ $desc := .Site.Params.description }}
{{ with .Description }}{{ $desc = . }}{{ end }}
{{ if and .IsPage (not .Description) }}{{ with .Params.summary }}{{ $desc = . }}{{ else }}{{ with .Summary }}{{ $desc = . | plainify | truncate 160 }}{{ end }}{{ end }}{{ end }}

{{ $tagline := .Site.Params.tagline }}
{{ $title := .Title }}
{{ if .IsHome }}
    {{ if $tagline }}
        {{ $title = print .Site.Title " — " $tagline }}
    {{ else }}
        {{ $title = .Site.Title }}
    {{ end }}
{{ end }}

{{ $img := "" }}
{{ with .Site.Params.defaultOgImage }}{{ $img = . | absURL }}{{ end }}
{{ with .Params.images }}{{ range first 1 . }}{{ $img = . | absURL }}{{ end }}{{ end }}

{{ $imgAlt := .Site.Params.author | default .Site.Title }}
{{ $author := .Site.Params.author }}

<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="og:locale" content="{{ .Site.Params.locale | default "en_US" }}" />
<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $desc }}" />
<meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}" />
<meta property="og:url" content="{{ .Permalink }}" />
{{ with $img }}
<meta property="og:image" content="{{ . }}" />
<meta property="og:image:alt" content="{{ $imgAlt }}" />
{{ end }}
{{ if .IsPage }}
  {{ with .Date }}<meta property="article:published_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}" />{{ end }}
  {{ with .Lastmod }}<meta property="article:modified_time" content="{{ .Format "2006-01-02T15:04:05Z07:00" }}" />{{ end }}
  {{ with $author }}<meta property="article:author" content="{{ . }}" />{{ end }}
  {{ range .Params.tags }}<meta property="article:tag" content="{{ . }}" />{{ end }}
{{ end }}
